@charset 'UTF-8';
/**
 * @authors dk (dkplus@qq.com)
 * @date    2017-09-21 16:42:40
 * @version $1.0$
 */
body {
  padding-bottom: 80px;
  background: #d5f1e7;
}
p {
  font-size: 36px;
}
/**
 * 主界面
 */
/*背景-bg-begin*/
.bg {
  position: fixed;
  z-index: -200;
  width: 100%;
  height: 100%;
  background: #54a386 url('../image/bg-img.png') no-repeat;
  background-position: 50% 99%;
}
/*背景-bg-end*/
/*菜单-menu-begin*/
.menu {
  position: fixed;
  left: 78px;
  bottom: 104px;
  border-radius: 100px;
  border: 5px solid #e2f6eb;
  transition: 0.5s;
}
.menu .btn {
  width: 90px;
  height: 90px;
  background-size: 100%;
  margin: 10px;
}
.person {
  background: url('../image/person.svg') no-repeat;
}
.awards {
  background: url('../image/awards.svg') no-repeat;
}
.tree {
  background: url('../image/tree.svg') no-repeat;
}
.menu-btn {
  background: url('../image/menu.svg') no-repeat;
}
/*菜单-menu-end*/
/*内容-content-begin*/
.content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 96px 180px;
  flex-wrap: wrap;
}
.content .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.item .avater {
  width: 300px;
  height: 300px;
  border: 10px solid #777;
  border-radius: 100%;
  margin-bottom: 21px;
  overflow: hidden;
  position: relative;
}
.item .avater .img {
  background: url('../image/tree.png') no-repeat;
  -webkit-background-size: 100%;
  background-size: 90%;
  background-position: 50%;
  width: 100%;
  height: 100%;
}
.item .avater .item-check {
  background: #28cfb666;
  height: 38%;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 28px;
}
.item .avater .item-content {
  width: 100%;
  text-align: center;
  background: #0005;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  position: absolute;
  bottom: 0;
  color: #fff;
}
.item p {
  text-align: center;
  font-size: 32px;
  color: #fff;
}
.item .add-item {
  width: 300px;
  height: 300px;
  border: 10px dotted #fff;
  border-radius: 100%;
  font-size: 250px;
  text-align: center;
  line-height: 250px;
  color: #fff;
}
/*内容-content-end*/
/**
 * 新规划树
 */
/*顶部栏-top-bar-begin*/
.time-bar {
  width: 100%;
  height: 72px;
  background: #32604f;
}
.top-bar {
  width: 100%;
  height: 130px;
  background: #54a386;
  font-size: 48px;
  color: #fff;
  line-height: 130px;
  display: flex;
  align-items: center;
  margin-bottom: 66px;
}
.top-bar span {
  display: inline-block;
  width: 36px;
  height: 58px;
  margin: 0 50px;
  background: url('../image/back.svg') no-repeat;
  background-position: 50% 50%;
}
/*顶部栏-top-bar-end*/
/*容器*/
.container {
  max-width: 986px;
  margin: 0 auto;
}
.label {
  font-size: 36px;
  color: #6e6e6e;
  margin-bottom: 30px;
}
.full-btn {
  width: 100%;
  height: 98px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  line-height: 98px;
  font-size: 48px;
  margin-top: 60px;
  cursor: pointer;
}
/*主要-begin*/
/* .main p{
	font-size: 36px;
	color: #6e6e6e;
	margin-bottom: 30px;
} */
.main h1 {
  font-size: 72px;
  color: #32604f;
  margin-bottom: 58px;
}
/*轮播元素-begin*/
.carouse .img {
  width: 100%;
  height: 980px;
  background: url(../image/final-tree.png) no-repeat;
  background-position: 50% 50%;
}
.carouse .btn-group {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 48px auto;
}
.carouse .btn {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: #28db99;
  cursor: pointer;
}
.carouse .on {
  background: #32604f;
}
.carouse figure {
  font-size: 30px;
  color: #6e6e6e;
}
/*轮播元素-end*/
/*按钮组-begin*/
.final-btn-group {
  display: flex;
  font-size: 65px;
  color: #fff;
  height: 100px;
  line-height: 100px;
  justify-content: space-between;
}
.final-btn-group .btn {
  border-radius: 50px;
  padding: 0 34px;
  cursor: pointer;
}
.final-btn-group .money {
  background: #ffc938 url('../image/money.png') no-repeat;
  background-position: 15% 50%;
  padding-left: 90px;
}
.final-btn-group .locked {
  background: #fe924a;
  margin-right: 22px;
}
.final-btn-group .choose {
  background: #949494;
}
/*按钮组-end*/
/* 主要-end */
/* 起名字，时间-begin */
.full-input {
  height: 134px;
  width: 100%;
  font-size: 48px;
  text-indent: 50px;
  margin-bottom: 36px;
  border: none;
  border-radius: 5px;
}
::-webkit-input-placeholder {
  color: #cfcece;
}
.detail {
  font-size: 36px;
  color: #b6b6b6;
}
.success {
  background: #54a386;
}
.warning {
  background: #fe924a;
}
/* 起名字，时间-end */
.target {
  background: #fff;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}
.progress {
  width: 100%;
  height: 20px;
  background: #d9d9d9;
  margin: 30px 0;
}
